<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
        >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Tnt Test Suite">
            <directory>./src/Tnt/Tests/</directory>
        </testsuite>
        <testsuite name="Characterization">
            <directory>src/Legacy/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./log/coverage/html" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50"
            highLowerBound="80"
            showUncoveredFile="true"
            />
        <log type="testdox-html" target="./log/coverage/testdox.html" />
    </logging>
</phpunit>